@import "./font/font.css";
*{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;  /* 删除下划线 */
  color: inherit;  /* 继承父级元素的文本颜色 */
  font-weight: inherit;  /* 继承父级元素的字体粗细 */
  font-style: inherit;  /* 继承父级元素的字体样式 */
}
html,body{
  font-family: Noto Sans SC;
  background-color: white;
  scroll-behavior:smooth;
}
.VPNav{
  display: none;
}
.VPDoc{
  width: 84vw !important;
  box-sizing: border-box !important;
  padding: 0 !important;
  position: relative;
  left: 10vw;
}
.VPContent{
  padding: 0 !important;
}
.VPDoc:not(.has-sidebar) .container{
  display: block !important;
  max-width: none !important;
}
.VPDoc.has-aside .content-container{
  max-width: none !important;
}
.VPDoc:not(.has-sidebar) .content{
  max-width: none !important;
}
.aside{
  display: none !important;
}
.content-container{
  margin: 0 !important;
}
.content{
  padding: 0 !important;
}
.menu-text{
  color: white !important;
}
.VPLocalNav{
  top: 0 !important;
  background-color: transparent !important;
}
.items{
  left: 0 !important;
}
.Layout{
  min-height: 40vh !important;
  position: relative;
  z-index: 99;
}
::-webkit-scrollbar{
  width:8px;
  background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
  border-radius:10px;
  background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius:10px;
  background-color: #777575;
}
.VPContent img{
  width: 60% !important;
}
.vp-adaptive-theme,.vp-code-group {
  background-color: #fffffff2 !important;
}
.vp-doc h2{
  border: none !important;
}
.vp-doc p{
  font-size: 14px;
}
.outline{
  background-color: black !important;
}
.outline-link{
  color: white !important;
}
.header{
  background-color: black !important;
}
.top-link{
  color: #848484 !important;
}
.VPLocalNavOutlineDropdown button{
  padding: 3px 6px;
  background-color: #566fc3;
  border-radius: 5px;
  margin-right: 10px;
}